html{
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;
 }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a{
  text-decoration: none !important;
}
a:hover{
  color: black;
}


#tsparticles {
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

section.navbar{
  background:transparent;
  position: fixed !important;
  width: 100%;
  z-index: 10;
 
}
nav{
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: space-between;
  width: 100%;
 
}
.navbrand{
  color: white;
  padding: .5rem;
  margin-left: 4rem;
  font-size: 1.8rem;
}
.nav-links{
  padding-top: .5rem;
  margin-right: 4rem;
  display: grid;
  grid-template-columns: repeat(5,auto);
  grid-gap: 30px;
  align-items: center;
 
  position: relative;

}
li{
  position: relative;
  cursor: pointer;
}

li::before{
  content: "";
  background-color: #ac28ea;
  height: .25rem;
  position: absolute;
  left: 0;
  bottom: 0 ;
  width: 0%;
  border-radius: 10px;
  transition: .5s ease-in-out;
}
li:hover::before{
  width: 100%;
}
.links{ 
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.links:hover{
  color:yellow;
}
.menu-icons{
  display: none;
  color: #ac28ea;
}
.nav-icon{
 position: relative;
 top: -2px;right:7px;

}

.logBtn{
  background-color: blueviolet;
  font-size: 1.5rem;
  border-radius: 7px;
 
}
@media (max-width:767px) {
  .navbar{
      width: 100%;
  }
  .nav-links{
    
      display:none;
      flex-direction: column;
      justify-content: flex-start;
      /* background-color: #fff; */
      width:100%;
      height: auto !important;
      position: absolute;
      top: -105%;
      left: 0%;
      opacity: 0;
      align-items: stretch;
      padding: 80px 0 30px 0;
      margin: 0;      
      /* transition: all 1s ease-in-out; */
   
  }
  .nav-links.active{
      top:0;
      background-color: rgba(0,0,0,.8);
      display:flex;
      opacity: 1;
      z-index: -1;
      /* if you can't use z index the whole nabar is clickable */   
  }
  li:hover::before{
      width: 0;
  }
  .menu-icons{
      display:flex;
      cursor: pointer;
      /* color: white; */
      align-items: center;
      font-size: 1.7rem;
      margin-right: 2.5rem;
  }
  .logBtn{
      display: block;
      width: 75%;

      margin:0 auto ;
      font-size: 2rem;
      border-radius: 10px;
      outline: 0;
      border: 0;
      padding: 10px;
  }
  
}
/* home-section */

.home-section {
  position: relative;
  z-index: -5;
  background-image: var(--image-gradient),url("../Assets/home-bg.jpg");
  /* background-position: top center; */
  background-repeat: no-repeat;
 background-size: cover;
 object-fit: cover;
  padding-bottom: 30px !important;
  padding-top: 30px !important;
  height: 100vh;
  width: 100%;
 
}

.home-content {
 
  padding: 7rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}
.heading{
  font-size: 2.3rem;
}
.home-heading{
  padding: 3rem 5rem;
  font-size: 2.4rem;
 
}
.heading-name {
  text-transform: uppercase;
  font-size: 5rem !important;
  /* padding-left: 45px !important; */
}

.purple{
  color: #ac28ea;
  
}
.typeText{
  color: #ac28ea;
  font-size: 2.4rem;
}

.wave{
  /*  */
  animation-name: wave-animation;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  transform-origin:70% 70% ;
  display: inline-block;
}
@keyframes wave-animation {
  0%{transform: rotate(0deg);}
  10%{transform: rotate(14deg);}
  20%{transform: rotate(-8deg);}
  30%{transform: rotate(14deg);}
  40%{transform: rotate(-4deg);}
  50%{transform: rotate(10deg);}
  60%{transform: rotate(0deg);}
  70%{transform: rotate(0deg);}
  80%{transform: rotate(0deg);}
  90%{transform: rotate(0deg);}
  100%{transform: rotate(0deg);}
  
}

@media (min-width: 768px) {

}

/* Home2 */
.home-about-section{
  position: relative;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.home-about-description{
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  color: white;
 
}
.home-about-description h1{
  text-align: center;
  margin-bottom:3rem;
 
}

.home-about-body{
  text-align: left !important;
  font-size: 1.5rem;
}
.home-about-social{
  color: white;
  text-align: center;
}
.social-links{
  margin:1rem ;
  font-size: 2rem;
 
}
.icon-color:hover:nth-child(1){
  color: rgb(253, 0, 181);
}